.main_container {
  display: flex;
  height: 90vh;
  width: 50vw;
  border: 10px solid black;
}

.column-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.small_beige {
  background-color: #fef9e6;
  flex: 1.3;
  border-right: 15px solid black;
}

.big_beige {
  background-color: #fef9e6;
  flex: 1.6;
  border-top: 30px solid black;
  border-bottom: 25px solid black;
  border-right: 15px solid black;
}

.medium_blue {
  background-color: #409cc5;
  flex: 1;

  border-right: 15px solid black;
}

.column_right {
  display: flex;
  flex-direction: column;
  flex: 2.5;
}

.large_red {
  background-color: #ec4938;
  flex: 3;
  border-bottom: 15px solid black;
}

.row {
  display: flex;
  flex: 1;
}

.wide_beige {
  background-color: #fef9e6;
  flex: 20;
  border-right: 15px solid black;
}

.column-nested {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nested {
  flex: 1;
}

.yellow {
  background-color: #fef9e6;
  border-bottom: 30px solid black;
}

.beige {
  background-color: #ffff00;
}
